:root{
    --fondo1: #f7f4f0;
    --fondo2: #fff9f3;
    --vino: #7b1633;
    --negro: hsl(0, 0%, 0%);
    --blanco: #ffffff;
    --fuente1: 'Stylesheet';
    --fuente2: 'Oxigen';
}

html{
    box-sizing: border-box;
    font-family: var(--fuente-principal);
    font-size: 40.5%;
    width: 100%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: var(--fondo1);
    margin: 0;
}

/*MENU*/
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 3;
    background-color: var(--fondo1);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: left;
}

nav{
    display: flex;
    justify-content: left;
    padding-top: 2rem;
}

header h1{
    position: relative;
    color: var(--vino);
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 2px;
    transition: 1s;
    text-decoration: none;
    font-family: var(--fuente2);
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    text-align: center;
}

header ul li a{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 8px;
    text-align: left;
    text-decoration: none;
    color: var(--vino);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

nav a:hover{
    text-decoration: underline;
}

.img_dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 10rem;
    padding: 5rem 0.5rem 3rem 0.5rem;
}

.img_dir img{
    width: 25rem;
    height: 10rem;
}

.menu-derecha{
    display: flex;
    column-gap: 2rem;
    color: var(--vino);
    padding-top: 2rem;
}

.buscador{
    display: flex;
    justify-self: center;
    align-items: center;
    background: var(--fondo1);
    box-shadow: 0 0 5px var(--fondo2);
    position: relative;
}

.seccion2{
    padding-top: 3.1rem;
    width: 3rem;
    display: flex;
}

.cajetin-search{
    padding: 0.8rem;
    cursor: pointer;
    border-color: var(--vino);
    border: 0.2rem solid var(--vino);
    background-color: var(--fondo1);
}

/*MENU DESPLEGABLE*/
/*Contenedor para menú desplegable*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Contenido desplegable (oculto de forma predeterminada)*/
.menu-desplegable {
    display: none;
    position: absolute;
    background-color: var(--fondo2);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Enlaces dentro del menú desplegable*/
.menu-desplegable a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 1.5rem;
    padding-inline-end: 34.5rem;
    padding-left: 1rem;
}

/*Cambio del color de los enlaces al pasar el mouse*/
.menu-desplegable a:hover {
    background-color: #e9d9d9;
}

/*Mostrar el menú desplegable al pasar el mouse*/
.dropdown:hover .menu-desplegable {
    display: block;
}

/*VIDEO DE PORTADA*/
.zona1{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56%;
}

.zona1 video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*BESTSELLER-CARRUSEL 1*/
.carousel {
    position: relative;
    width: 100%;
    max-width: 250rem;
    margin: auto;
    overflow: hidden;
    background-color: var(--fondo2);
}

.carousel-inner {
    display: flex;
    width: 250%;
    transition: transform 2s ease;
}

.carousel-item {
    width: 13%;
    position: relative;
    transition: transform 2s ease;
    padding: 5rem;
}

.carousel-item img {
    width: 100%;
    display: block;
    position: relative;
}

#carousel-1:checked~.carousel-inner {
    transform: translateX(0);
}

#carousel-2:checked~.carousel-inner {
    transform: translateX(-38%);
}

#carousel-3:checked~.carousel-inner {
    transform: translateX(-78%);
}

#carousel-4:checked~.carousel-inner {
    transform: translateX(-100%);
}

label.prev,label.next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    font-size: 3em;
    color: var(--vino);
    cursor: pointer;
    z-index: 900;
}

label.prev {
    left: 10px;
}

label.next {
    right: 10px;
}

label:hover {
    background-color: var(--fondo1) ;
}

.carousel-item p{
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
}

/*BOTONES*/
.boton,.boton2,.search {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--vino);
    background-color: var(--fondo2);
    border: 0.2rem solid var(--vino);
    font-size: 2rem;
    font-family: var(--fuente2);
    transition: .10s ease;
}

.boton,.boton2{
    padding: 2rem 4rem 2rem 4rem;
    }

.search2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--vino);
    background-color: var(--fondo2);
    border: 0.2rem solid var(--vino);
    font-size: 2rem;
    font-family: var(--fuente1);
    transition: .20s ease;
    padding: 2rem 5rem 2rem 5rem;
    letter-spacing: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 15rem;
}

.boton{
    margin-top: 10rem;
}

.boton2{
    margin-top: 13rem;
}

.search{
    margin-top: 1rem;
    padding: 2rem 10rem 2rem 10rem;
    margin-left: 5rem;
}

.boton:hover,.boton2:hover,.search:hover,.search2:hover{
    cursor: pointer;
    background-color: var(--vino);
    color: var(--blanco);
}

/*LETRAS*/
h2{
    font-size: 8rem;
    font-weight: normal;
    text-align: left;
    row-gap: 0;
    padding-left: 15rem;
    margin: 0; 
}

/*WHAT MAKES US RARE*/

.img-selena {
    position: relative;
    overflow: hidden;
    border-radius: 50%; 
    margin-left: 12rem;
    height: 95%;
    width: 85%;
    object-fit: cover;
}

.img-selena img{
    width: 100%;
    height: auto;
}

.texto{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    padding-top: 1rem;
}

.texto p, .enlace-ourstory {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 15rem;
    line-height: 1.8rem;
}

.texto p{
    font-size: 3rem;
}

.enlace-ourstory{
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: var(--vino);
}

.enlace-ourstory:hover{
    font-weight: bold;
}

.parrafo{
    padding-top: 3rem;
}

/*GALERIA DE ROSTROS Y BARRA DE TONOS PARA PIELES*/
.parrafo2{
    margin-left: 15rem;
    font-size: 3.5rem;
}

.galeria-rostros{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.rostro3, .rostro1 {
    width: 15rem;
    height: 15rem;
}

.rostro1 img,.rostro2 img,.rostro3 img{
    width: 100%;
    height: auto;
}

.rostro1{
    width: 62%;
    height: auto;
    margin-left: auto;
}

.rostro3{
    width: 60%;
    height: auto;
    margin-right: auto;
}

.rostro2 {
    max-width: 50%;
    height: auto;
}

.home-shade-finder__image-shades {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffdcc6), color-stop(#ebb288), color-stop(#e5955b), color-stop(#c86128), to(#732a18));
    background-image: linear-gradient(to right, #ffdcc6, #ebb288, #e5955b, #c86128, #732a18);
    height: 2rem;
    margin-top: 20rem;
    margin: 0.1rem 14rem 0.1rem 14rem;
}

.home-shade-finder__scale{
    -webkit-box-align:center;
    margin: 0.1rem 14rem 0.1rem 14rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    row-gap: 4rem;
}

/*SECCION IMPACT ON MENTAL HEALTH*/
.img-sel {
    position: relative;
    overflow: hidden;
    border-radius: 0%; 
    margin-left: 15rem;
    height: 90%;
    width: 70%;
    object-fit: cover;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

.img-sel img{
    width: 100%;
    height: auto;
}

/* PIE DE PAGINA */
.footer{
    background-color: var(--fondo2);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--vino);
    text-align: left;
    padding: 10rem 20rem 3rem 20rem;
}

.footer_1{
    width: 75%;
}

.footer_1_2{
    width: 100%;
    display: flex;
}

.footer_2{
    width: 100%;
}    

.footer_3{
    width: 130%;
}

.footer_1 h3, .footer_2 h3, .footer_3 h3{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    line-height: 2.8rem;
}

.footer_1 input{
    background-color: var(--fondo2);
    border: 0.2rem solid var(--vino);
    width: 53rem;
    height: 5rem;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.footer_1, .footer_2, .footer_3 p{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
}

.footer_part2{
    background-color: var(--fondo2);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--vino);
    text-align: left;
    padding-bottom: 10rem;
}

.line-icons{
    display: flex;
    column-gap: 3.5rem;
    padding-top: 2.5rem;
    padding-left: 19rem;
}

.line-logotipo{
    display: flex;
    padding-top: 1.8rem;
    padding-left: 17rem;
    margin-bottom: 10rem;
    height: 9rem;
}

.img-footer img{
    width: 10rem;
    height: 9rem;
}

.parrafos-footer{
    line-height: 0.7rem;
}

.parrafos-footer p{
    text-decoration: underline solid var(--vino);
    font-size: 1.7rem;
}


/*RESPONSIVE - TAMAÑO PARA PC*/
@media (min-width:768px){
    .our-story{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 0.5rem;
        justify-content: center;
    }

        /*MENU*/
    header{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        transition: 0.7s;
        z-index: 3;
        background-color: var(--fondo1);
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: normal;
        text-align: left;
    }

    nav{
        display: flex;
        justify-content: left;
        padding-top: 2rem;
        
    }

    header h1{
        position: relative;
        color: var(--vino);
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        transition: 1s;
        text-decoration: none;
        font-family: var(--fuente2);
    }

    header ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li{
        list-style: none;
    }

    header ul li a{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 15px;
        text-decoration: none;
        color: var(--vino);
        letter-spacing: 2px;
        font-weight: 600;
        transition: 0.7s;
    }

    nav a:hover{
        text-decoration: underline;
    }

    .seccion2{
        padding-top: 3.1rem;
        width: 3rem;
        display: flex;
    }

    .buscador{
        display: flex;
        justify-self: center;
        align-items: center;
        background: var(--fondo1);
        box-shadow: 0 0 20px var(--fondo2);
        position: relative;
    }

    .menu-derecha{
        display: flex;
        column-gap: 2rem;
        padding-top: 1rem;
        color: var(--vino);
        padding-top: 2rem;
    }

    .img_dir{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 10rem;
        padding: 5rem 0.5rem 3rem 0.5rem;
        margin-right: 50rem;
    }

    .img_dir img{
        width: 25rem;
        height: 10rem;
    }

    .menu-derecha{
        display: flex;
        column-gap: 2rem;
        padding-top: 1rem;
        color: var(--vino);
        padding-top: 2rem;
    }

    .buscador{
        display: flex;
        justify-self: center;
        align-items: center;
        background: var(--fondo1);
        box-shadow: 0 0 20px var(--fondo2);
        position: relative;
    }

    .seccion2{
        padding-top: 3.1rem;
        width: 3rem;
        display: flex;
    }

    .cajetin-search{
        padding: 0.8rem;
        cursor: pointer;
        border-color: var(--vino);
        border: 0.2rem solid var(--vino);
        background-color: var(--fondo1);
    }

    .img_dir{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25rem;
        height: 10rem;
        padding: 5rem 0.5rem 3rem 0.5rem;
        margin-right: 50rem;
    }

/*Foundation Shade Finder*/
    .galeria-rostros{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 5rem;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .zona1{
        position: relative;
        width: 100%;
        height: 80%;
        background-size: cover;
        background-position: center;
    }

    /*BESTSELLER-CARRUSEL 1*/
    .carousel {
        position: relative;
        width: 100%;
        max-width: 250rem;
        margin: auto;
        overflow: hidden;
        background-color: var(--fondo2);
    }

    .carousel-inner {
        display: flex;
        width: 250%;
        transition: transform 2s ease;
    }

    .carousel-item {
        width: 33%;
        position: relative;
        transition: transform 2s ease;
        padding: 5rem;
    }

    .carousel-item img {
        width: 100%;
        display: block;
        position: relative;
    }

    #carousel-1:checked~.carousel-inner {
        transform: translateX(0);
    }

    #carousel-2:checked~.carousel-inner {
        transform: translateX(-33.3333%);
    }

    #carousel-3:checked~.carousel-inner {
        transform: translateX(-66.6666%);
    }

    label.prev,
    label.next {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        font-size: 3em;
        color: var(--vino);
        cursor: pointer;
        z-index: 900;
    }

    label.prev {
        left: 10px;
    }

    label.next {
        right: 10px;
    }

    label:hover {
        background-color: var(--fondo1) ;
    }

    .carousel-item p{
        font-size: 3.5rem;
        text-align: left;
        margin: 0;
    }

        /*BOTONES*/
    .boton,.boton2,.search {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: var(--vino);
        background-color: var(--fondo2);
        border: 0.2rem solid var(--vino);
        font-size: 2rem;
        font-family: var(--fuente2);
        transition: .10s ease;
        padding: 2rem 13rem 2rem 13rem;
    }

    .search2 {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        color: var(--vino);
        background-color: var(--fondo2);
        border: 0.2rem solid var(--vino);
        font-size: 2rem;
        font-family: var(--fuente1);
        transition: .20s ease;
        padding: 2rem 5rem 2rem 5rem;
        letter-spacing: 0.5rem;
        margin-top: 0.1rem;
        margin-left: 15rem;
    }

    .boton{
        margin-top: 20rem;
    }

    .boton2{
        margin-top: 24.1rem;
    }

    .search{
        margin-top: 1rem;
        background-position: right;
        margin-left: 172rem;
    }

    .boton:hover,.boton2:hover,.search:hover,.search2:hover{
        cursor: pointer;
        background-color: var(--vino);
        color: var(--blanco);
    }


    /*SECCION IMPACT ON MENTAL HEALTH*/
        .img-sel {
            position: relative;
            overflow: hidden;
            border-radius: 0%; 
            margin-left: 32rem;
            height: 90%;
            width: 70%;
            object-fit: cover;
            margin-top: 15rem;
            margin-bottom: 10rem;
        }

        .texto{
            display: inline-block;
            flex-direction: column;
            justify-content: center;
            vertical-align: top;
            padding-top: 20rem;
        }

        /* PIE DE PAGINA */
    .footer{
        background-color: var(--fondo2);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--vino);
        text-align: left;
        padding: 10rem 40rem 10rem 40rem;
    }

    .footer_1{
        width: 75%;
    }

    .footer_1_2{
        width: 100%;
        display: flex;
    }

    .footer_2{
        width: 100%;
    }    

    .footer_3{
        width: 100%;
    }

    .footer_1 h3, .footer_2 h3, .footer_3 h3{
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        line-height: 2.8rem;
    }

    .footer_1 input{
        background-color: var(--fondo2);
        border: 0.2rem solid var(--vino);
        width: 53rem;
        height: 5rem;
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
    }

    .footer_1, .footer_2, .footer_3 p{
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
    }

    .footer_part2{
        background-color: var(--fondo2);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--vino);
        text-align: left;
        padding-bottom: 10rem;
    }

    .line-icons{
        display: flex;
        column-gap: 3.5rem;
        padding-top: 2.5rem;
        padding-left: 40rem;
    }

    .line-logotipo{
        display: flex;
        padding-top: 1.8rem;
        height: 9rem;
    }

    .img-footer{
        width: 10rem;
    }

    .img-footer img{
        width: 10rem;
        height: 9rem;
    }

    .parrafos-footer{
        line-height: 0.7rem;
    }

    .parrafos-footer p{
        text-decoration: underline solid var(--vino);
        font-size: 1.7rem;
    }

    /*GALERIA DE ROSTROS Y BARRA DE TONOS PARA PIELES*/
    .parrafo2{
        margin-left: 15rem;
        font-size: 3.5rem;
    }

    .galeria-rostros{
        align-items: center;
        padding: 4rem;
    }

    .rostro3, .rostro1 {
        width: 40rem;
        height: 40rem;
    }

    .rostro1 img,.rostro2 img,.rostro3 img{
        width: 100%;
        height: auto;
    }

    .rostro1{
        width: 62%;
        height: auto;
        margin-left: auto;
    }

    .rostro3{
        width: 62%;
        height: auto;
        margin-right: auto;
    }

    .rostro2 {
        max-width: 100%;
        height: auto;
    }

    .home-shade-finder__image-shades {
        background-image: -webkit-gradient(linear, left top, right top, from(#ffdcc6), color-stop(#ebb288), color-stop(#e5955b), color-stop(#c86128), to(#732a18));
        background-image: linear-gradient(to right, #ffdcc6, #ebb288, #e5955b, #c86128, #732a18);
        height: 2rem;
        margin-top: 20rem;
        margin: 0.1rem 45rem 0.1rem 45rem;
    }

    .home-shade-finder__scale{
        -webkit-box-align:center;
        margin: 0.1rem 45rem 0.1rem 45rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
        row-gap: 4rem;
    }

    /*MENU DESPLEGABLE*/
    /*Contenedor para menú desplegable*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

}


   






